.signUpButton {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    background: #a020f0;
    cursor: pointer;
  }
  .signInButton {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    background: #a020f0;
    cursor: pointer;
  }
  
  .resetButton {
    border: solid 1px #a020f0;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #a020f0;
    cursor: pointer;
  }
    
    .login {
      width: 90%;
      min-height: 90vh;
      padding: 0 20px;
      display: flex;
    }
    
    .login .loginContainer {
      padding: 60px;
      margin: auto;
      margin-right: 235px;
      width: 100%;
      max-width: 450px;
      min-height: 450px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: #a020f0;
      box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
    }
    
    .login .loginContainer label {
      color: white;
      margin: 14px 0;
      display: block;
      font-size: 22px;
      line-height: 1;
    }
    
    .login .loginContainer input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 19px;
      padding: 10px;
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      letter-spacing: 1px;
    }
    
    .login .loginContainer .btnContainer {
      width: 100%;
      padding: 24px 0;
    }
    
    .login .loginContainer .btnContainer p {
      margin: 5px 0 0 0;
      font-size: 25px;
      text-align: center;
      color: #fff;
    }
    
    .login .loginContainer .btnContainer p span {
      color: yellow;
      font-size: 25px;
      font-weight: 200;
      letter-spacing: 0.5px;
      margin-left: 5px;
      cursor: pointer;
      transition: all 400ms ease-in-out;
    }
    
    .login .loginContainer .btnContainer p span:hover {
      color: red;
    }
    
    .login .loginContainer .errorMsg {
      color: red;
      font-size: 25px;
    }